body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Ukuran tabel ditetapkan di sini */
table {
    width: 400px;
    height: 400px;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    margin: 20px auto; /* agar tabel di tengah halaman */
}

td {
    border: 1px solid black;
    vertical-align: top;
    padding: 0; /* agar warna menempel ke garis */
}

header {
    background-color: khaki;
    padding: 20px;
    font-weight: bold;
    height: 100%;
}

nav {
    background-color: lightskyblue;
    padding: 10px;
    font-weight: bold;
    height: 100%;
}

main {
    background-color: lightpink;
    padding: 25px;
    text-align: left;
    box-sizing: border-box;
    height: 100%;
}

aside {
    background-color: lightgreen;
    padding: 20px;
    text-align: left;
    box-sizing: border-box;
    height: 100%;
}

footer {
    background-color: khaki;
    padding: 15px;
    font-weight: bold;
    height: 45%;
}

h1 {
    margin-top: 0;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

.content {
    width: 80%;
}
